* {
    background-color: aquamarine;
    font-family: sans-serif;
}

.mail {
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 450px;
    background-color: #FFF;
    border-radius: 10px;
    box-shadow: 0 10px 20px 0 rgba(#999, .25);
    padding: .75rem;
}

input,
textarea {
    padding: 1em;
    line-height: 1.4;
    background-color: #f9f9f9;
    border: 1px solid #bbb7b7;
    border-radius: 3px;
    width: 80%;
}

label,
form,
li,
ul {
    background-color: #f9f9f9;
    list-style: none;
}

h2 {
    text-align: center;
    background-color: #f9f9f9;
}

.spr {
    color: #e5e5e5;
    font-family: sans-serif;
    cursor: pointer;
    background-color: aquamarine;
    padding: 1em;
    line-height: 1.4;
    border: 1px solid #bbb7b7;
    border-radius: 3px;
    width: 87%;
}